services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: knowledgeGraph
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./server/sql:/docker-entrypoint-initdb.d

  backend:
    build: ./server
    environment:
      PORT: 4000
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/knowledgeGraph
    ports:
      - "4000:4000"
    depends_on:
      - postgres

  frontend:
    build: ./client
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  pgdata:
